<div class="background">

</div>

<style lang="sass">
    .background
        width: 100vw
        height: 100vh
        position: absolute
        inset: 0
        pointer-events: none
        opacity: 0.1
        filter: blur(45px)
        z-index: -1
        background-image: conic-gradient(from 0deg at 50% 50%, #CDB4DB 11%, #A2D2FF 28%, #FFC8DD 54%, #BDE0FE 73%, #FFAFCC 95%)
</style>