<div class="background">

</div>

<style lang="sass">
    .background
        width: 100vw
        height: 100vh
        position: fixed
        inset: 0
        pointer-events: none
        opacity: 0.375
        filter: blur(10px)
        z-index: -1
        background-image: linear-gradient(#A2D2FF, #FFC8DD)
</style>